html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Noto Serif Hentaigana', serif;
  background: #161616; /* a dark background */
}

#canvas1 {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
